.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #23ae12;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
